*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#121125;
}
p{
    color: #665DD2;
    font-size: 1.5rem;
}


ul{
    display: flex;
    background-color: #1B1B38;
    color: #665DD2;
    list-style-type: none;
    height: 8rem;
    top: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin: 0%;
    text-decoration: none;
}
a{
display: flex;
position: relative;
justify-content: space-between ;
flex-direction: row;
color: rgba(102, 93, 210, 1);;
top: 15%;
text-decoration: none;

}
a::after{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: #00FF66;
    transform: scale(0);
    transition: 0.7s ;
    

}
a:hover::after{
    transform: scale(1);
}
.home{
  display: flex;
  justify-content: space-between;
  margin-left: 1cm;
}

.hometxt{
    position: absolute;
    color: rgba(102, 93, 210, 1);
    height: 17rem;
    width: 35%;
    left: 60% ;
    top: 17rem;
    right: 5rem;
    padding:1rem 1rem 1rem  1rem ; 
    
}
.photo1{
    position: absolute;
    border: #FF0000 solid 10px;
    height: 30rem;
    width: 35%;
    top: 16rem;
    left: 5rem;

}

.h1{
    display: flex;
    background-color: #1B1B38;
    margin-top: 20cm;
    height: 5cm;
    color: rgba(102, 93, 210, 1);;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.card-blue{
    display: flex;
    height: 10cm;
    width: 10cm;
    margin-left:1cm ;
    margin-right: 1cm;
    border: blue solid 10px;
    background-color: #1B1B38;
    margin-top: 3cm;
}
.card-purple{
    display: flex;
    height: 10cm;
    width: 10cm;
    margin-right: 1cm;
    border: green solid 10px;
    background-color: #1B1B38;
    border-color: #665DD2;
    margin-top: 3cm;
}
.card-green{
    display: flex;
    height: 10cm;
    width: 10cm;
    margin-right: 1cm;
    border: green solid 10px;
    background-color: #1B1B38;
    margin-top: 3cm;
}
.card-red{
    display: flex;
    height: 10cm;
    width: 10cm;
    margin-right: 1cm;
    border: #FF0000 solid 10px;
    background-color: #1B1B38;
    margin-top: 3cm;
}

h1{
    position: relative;
    color: #665DD2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin:2.5rem ;
    margin-left: 4rem;
}
.alitxt{
    position: absolute;
    /* border: red solid 1px; */
    height: 15rem;
    width: 100%;
    padding: 2rem;

}
.proj{
position: absolute;
top: 32rem;
}
.proj1{
    position: relative;
    border: #00FF66 1px solid;
    
}

